.devcontainer/
.vscode/
.github/

.editorconfig
.gitattributes
.mocharc.cjs
.nycrc.json
.prettier*
.release-it.json

CHANGELOG.md
CLAUDE.md

/src/
index.ts
index.spec.ts
eslint.config.js
tsconfig.json
tsconfig.build.json

